@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    <h1>Game Ranger</h1>
    <p class="lead"></p>
    <p><a href="https://www.g2a.com/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Small Introduction</h2>
        <p>
            Game Ranger is an indie developed game store app that allows you to buy the best game at the cheapest prices.
        </p>
    </div>
    <div class="col-md-4">
        <h2>The building process</h2>
        <p>It was long, painful, excruciating, and for every step forward we took three steps backwards thanks to the tools we used. A true marathon of figuring out different software.</p>
    </div>
    <div class="col-md-4">
        <h2>Conclusion</h2>
        <p>While it was painful, it was a useful learning experience that thought us a lot about the tools we'll probably use in the future if we get jobs related to them.</p>
    </div>
</div>